.physicians {
    background: rgba($color: #000000, $alpha: 0.1);
    padding-right: 30px;

    ul {
        list-style-type: circle;
        cursor: pointer
    }
    
    ul li:hover {
        background: rgba($color: teal, $alpha: 1);
        color: white
    }

    .header {
        padding: 10px 20px;
        color: black;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase
    }
}